.AssociatedLocationsCities {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}

.AssociatedLocationsDiv {
    width: 50%;
    text-align: center;
}