.card {
  border-radius: 10px;
  border: 5px solid #1A1919;
  background: rgba(206, 206, 206, 0.5);
  box-shadow: 1px 3px 2px 2px #000;


  margin: auto;
  padding-bottom: 4px;
}

.AssociatedLocationsCities {
  margin-bottom: 0px;
}

.form-control {
  border-radius: 10px;
  border: 5px solid #1A1919;
  background: rgba(206, 206, 206, 0.5);
  box-shadow: 1px 3px 2px 2px #000;
  width: 50%;


  margin: auto;
  padding-bottom: 4px;

}

.lipadding {
  margin-bottom: 20px;
  /* Adjust the value as per your spacing needs */

}

.suggestions {
  border: transparent;
}

.form-control-search {
  padding: 0px 10px 0px 10px;
  border-radius: 10px;
  border: 5px solid #1A1919;
  background: rgba(206, 206, 206, 0.5);
  width: 100%;
  height: 100%;
  margin: auto;



}



.logotext {
  height: 40%;
  margin-bottom: 0px;
  width: 70%;

}

.p-5 {
  padding: 0 !important;
}

#root {
  /* height: 100vh; */
  /* Optional: To center in the viewport */
  width: 100vw;
  background-image: transparent;
  background-color: transparent;
}

body {
  height: 100vh;
  background-image: linear-gradient(rgb(78, 201, 199), rgb(17, 153, 17));
}

.form-label {
  padding-top: 5px;
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.68px;
}

.container {
  /* margin-top: 0px;

  position: relative;
  height: 75vh;
  width: 100vw;
  background-color: tran;
  text-align: center; */

  margin-top: 0px;
  margin-bottom: 20px;
  /* Add margin to the bottom to create space above the footer */
  position: relative;
  height: 75vh;
  width: 100vw;
  background-color: transparent;
  /* Corrected typo 'tran' to 'transparent' */
  text-align: center;

}

.flight-list-container {
  /* margin-top: 0px;
  position: relative;
  height: 100%;
  width: 75%;
  background-color: tran;
  text-align: center;
  overflow: auto;
  padding: 10px; */
  margin-top: 10px;
  margin-bottom: 20px;
  /* Add margin to the bottom to create space above the footer */
  position: relative;
  height: 100%;
  width: 75%;
  background-color: transparent;
  /* Corrected typo 'tran' to 'transparent' */
  text-align: center;
  overflow: auto;
  padding: 10px;
}

.defaultbtn {
  /* display: block;
  margin: 20px auto 0;
  border-radius: 20px;
  border: 2px solid #000;
  background: rgba(206, 206, 206, 0.5);
  color: #000;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 50%;
  text-align: center; */
  display: block;
  margin: 20px auto 10px;
  /* Add margin to the top to create some space */
  border-radius: 20px;
  border: 2px solid #000;
  background: rgba(206, 206, 206, 0.5);
  color: #000;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 50%;
  text-align: center;
}

/* .loginbtn { */
/* position: relative; */
/* top: 20%; */
/* left: 50%; */
/* transform: translate(-50%, -50%); */
/* Your button styles */
/* border-radius: 20px;
  border: 2px solid #000;
  background: rgba(206, 206, 206, 0.5);
  margin: 50px auto;
  color: #000;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.68px;
  width: 50%;
  box-shadow: 6px 14px 2px 13px #000;

} */

.logintext {
  color: #342424;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.28px;
  text-align: center;
}

/* Style the footer */
footer {
  /* position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: #333;
  padding: 20px;
  margin-top: 20px;
  display: block; */
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: #333;
  padding: 20px;
  margin-top: 20px;
  /* Add margin to push the content above the footer */
  display: block;
}

/* Style the logo */
.logo {
  display: inline-block;
}

.logo img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

.item2 {
  grid-area: left;
  overflow: auto;
  max-height: 70vh;
  padding-bottom: 20px;
}

.item3 {
  /* grid-area: right; */
  overflow: auto;
  max-height: 75vh;
  padding-bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-areas: 'left right';
  gap: 10px;
  background-color: transparent;
  padding: 20px;
}

/* Media query for mobile screens */
@media (max-width: 768px) {
  footer {
    padding: 10px;
    /* Adjust the padding for smaller screens */
  }
}

@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: 100%;
    grid-template-areas: 'left' 'right';
  }

  .item2,
  .item4 {
    width: 100%;
    /* Expand to full width */
  }
}